p{
 font-family: "Gaegu", sans-serif;
}

body{
    background-color: rgb(255, 235, 196);
    background-image: linear-gradient(to bottom,rgb(255, 235, 196),rgb(255, 253, 248));
    color: rgb(189, 138, 255);
    font-family: "Josefin Sans", sans-serif;
    margin: 40px;
    flex: auto;
    float: right;
    overflow-y: scroll;
}

.important{
    font-weight: bolder;
    text-decoration: underline;
    color: #ff8cb8;
}


h1{
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 60px;
    flex: row;
    background-color: #ffebf6;
    width:90%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    border-left: 3px double white;
    border-right: 3px double white;
    outline: hsl(332, 100%, 89%) dotted 3px;
    color: #ff8cb8;
    overflow: hidden;
}

 h2{
    text-align: center;
    display: flex;
    justify-content: center;
    flex: row;
    background-color: hsl(199, 100%, 84%);
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    border-left: 3px double white;
    border-right: 3px double white;
    color: hsl(199, 80%, 68%);
    outline: hsl(199, 100%, 78%) dotted 3px;
    overflow:hidden;
}

 h3{
    color: #ff8cb8;
}

#titlecontain{
    display: block;
    width: 100%;
    height: auto;
}

#maincontain{
    display: flex;
    justify-content: center;
    place-items: center;
    align-items: center;
    
    border: 3px dotted ;
    width: 94%;
    height:auto ;
    gap: 30px;
    margin: 0 auto;
    padding: 10px;
    object-fit:cover;
    line-height: 1.5;
    background-color: rgb(243, 234, 255);
    background-image: linear-gradient(rgb(243, 234, 255), rgb(223, 198, 255));
    }


#factcontain{
    display: block;
    border: 3px dotted hsl(199, 80%, 68%) ;
    width: 100%;
    height:auto ;
    overflow:hidden;
    background-color:hsl(332, 100%, 89%);
    background-image: linear-gradient(hsl(199, 100%, 84%),hsl(200, 100%, 96%) );
    padding:10px;
    object-fit:cover;
    line-height: 1.5;
    color: #ff8cb8;
    text-align: center;
    font-size: large;
 
}

img{
    float: center;
    max-width: 100%;
    height: auto;
}


a:link{
    font-weight: bold;
    color:hsl(293, 100%, 77%);

}
a:visited{
    color: #a8e3ff;
    background-color: hsl(0, 0%, 100%);
}

a:hover{
    color: #ff8cb8;
    background-color: hsl(199, 100%, 84%);
    font-weight: bolder;
}

a:active{
    color: dark plum;
    font-weight: bolder;
}

@media (max-width: 1200px){
h1{
    display: flex;
    width:90%;
    height:auto;
    font-size: 40px;
}

h2{
   display: flex;
    width:90%;
    height:auto;
    font-size: large;
}


#maincontain{
width: 94%;
 height: auto;
font-size:medium;
background-color:violet;
}

#factcontain{
 width: 250%;
 height: auto;
 font-size:medium;
}
#titlecontain{
    font-size: medium;
}

}



@media (max-width: 992px){
h1{
    display: flex;
    width:90%;
    height:auto;
    font-size: 30px;
}

h2{
    display: flex;
    width:90%;
    height:auto;
    font-size: medium;
}

h3{
    font-size: large;
}

#maincontain{
display:flex;
width: 94%;
height: auto;
background-color:rgb(255, 183, 59);
font-size:small;
}

#factcontain{
 width: 500%;
 height: auto;
 font-size:small;
}



} 


@media (max-width: 768px){
h1{
    display: flex;
    width:90%;
    height:auto;
    font-size: 20px;
}

h2{
    display: flex;
    width:90%;
    height:auto;
    font-size: small;
}

h3{
    font-size: larger;
}

#maincontain{
width: 97%;
 height: auto;
 font-size: smaller;
background-color:rgb(5, 255, 222);
}

#factcontain{
 width: 1000%;
 height: auto;
 font-size:smaller;
}

#titlecontain{
    font-size:smaller
}
} 

