body{
    background-color:rgb(255, 242, 215);
    color: #ff8cb8;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 40 px;
    flex: auto;
    float: right;

}

.important{
    font-weight: bolder;
    text-decoration: underline;
    color: hsl(199, 80%, 68%);
}


h1{
    background-color: #ffebf6;
    width:90% px;
    height: auto;
    margin: 0 auto;
    padding: 30 px;
    border-left: 3px double white;
    border-right: 3px double white;
    outline: hsl(332, 100%, 89%) dotted 3px;
}

 h2{
    background-color: hsl(199, 100%, 84%);
    width: 90% px;
    height: auto;
    margin: 0 auto;
    padding: 30 px;
    border-left: 3px double white;
    border-right: 3px double white;
    color: hsl(199, 80%, 68%);
    outline: hsl(199, 100%, 78%) dotted 3px;
}
h3{
    font-weight: 800;
    accent-color: dark plum;
}

#maincontain{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px dotted ;
    width: 100%;
    height:auto ;
    gap: 20px;
    padding: 20px;
    object-fit:cover;
    overflow:hidden;
    line-height: 1.5;
}

#factcontain{
    display: block;
    border: 3px dotted ;
    width: 100%;
    height:auto ;
    background-color: whitesmoke;
    padding:10px;
    object-fit:cover;
    overflow:hidden;
    line-height: 1.5;

}

img{
    float: left;
    max-width: 100%;
    height: auto;
}


a:link{
    font-weight: bold;
    color:hsl(135, 71%, 77%);

}
a:visited{
    color: #e3a3e7;
    background-color: hsl(199, 100%, 84%);
}

a:hover{
    color: #ff8cb8;
    background-color: hsl(199, 100%, 84%);
    font-weight: bolder;
}

a:active{
    color: dark plum;
    font-weight: bolder;
}

@media (min-width: 1200px){
.h1 {grid-area: 1 / span 6;}
.h2 {grid-area: 1 / span 6;}
#subcontain{
    width: 70%;
} 
}

@media (min-width: 992px){
.h1 {grid-area: 1 / span 4;}
.h2 {grid-area: 1 / span 4;}
#subcontain{
    width: 90%;
} 
}

@media (min-width: 768px){
.h1 {grid-area: 1 / span 6;}
.h2 {grid-area: 1 / span 6;}

#subcontain{
    width: 100%;
} 


.img{
    float: none;
}
}