body{
    background-color:aliceblue;
    color: white;
    font-family:'Courier New', Courier, monospace;
    margin: 0;
}



h1{
    background-color: hotpink;
    width: 800 px;
    margin: 0 auto;
    padding: 30 px;
    border-left: 3px double white;
    border-right: 3px double white;
}
